@model IEnumerable<FrontCourrier.Models.MouvementCourrier>
@{
  int count = 0;
}
@*<p>
  @Html.ActionLink("Create New", "Create")
</p>*@
<h3>Mouvement des Courriers</h3>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.CoursierId)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.CourriersId)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.StatusId)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.ReceptionisteId)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.DatedeMouvement)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      @*<td>
      @Html.DisplayFor(modelItem => item.CoursierId)
    </td>*@
      <td>
        @(ViewBag.courrier)
      </td>
      <td>
        @(((List<String>)ViewBag.coursier).ElementAt(count))
      </td>
      <td>
        @*@Html.DisplayFor(modelItem => item.StatusId)*@
        @(((List<String>)ViewBag.status).ElementAt(count))
      </td>
      <td>
        @(((List<String>)ViewBag.reception).ElementAt(count++))
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.DatedeMouvement)
      </td>
      @*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
      </td>*@
    </tr>
  }

</table>
